.navbar img {
	width: 130px;
}

.navbar {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;

}

.navbar-nav .nav-link {
	color: #50B1AE !important;
	font-size: 18px;
	font-weight: 600;
	margin-left: 50px;
}



.tombol {
	border-radius: 5px;
	width: 100px;
	background-color: rgb(228, 74, 68);
	color: white;
	border-color: white;
	font-weight: 600 !important;
	margin-left: 50px;
}

.tombol:hover {
	background-color: rgb(197, 40, 35);
	color: white;
}

h3 {
	text-align: center;
	margin-top: 20px;
	font-size: 26px;
	color: #4c4c4c;
	font-weight: 600;
}

.subtitle {
	font-size: 15px;
	text-align: center;
	width: 800px;
	margin: auto;
	color: #4c4c4c;
}

.kotak {
	margin: auto;
	margin-top: 40px;

}

.kotak img {
	width: 180px;
	margin-left: 30px;
	margin-top: 20px;
}

.card {
	-webkit-box-shadow: 0px 1px 25px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 1px 25px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 1px 25px 2px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	transition: all 0.3s ease 0s;
}


.card:hover {
	transform: translateY(-7px);
}

.card-text {
	text-align: center;
	font-size: 13px;
	margin: 20px 10px;
}

.btn-donasi {
	background-color: #E38813;
	width: 100%;
	color: white;

}

.btn-donasi:hover {
	background-color: rgb(192, 115, 15);
	width: 100%;
	color: white;
}

.card-footer {
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

a {
	text-decoration: none;
	color: white;
	padding: 50px;
}


a:hover {
	text-decoration: none;
	color: white;
}

.col {
	margin-left: 70px;
	margin-right: 70px;
}

.form-group {
	width: 1000px;
	margin-left: -70px;
}

.bank-img {
	width: 150px;
	display: inline;
}

.custom-control-input {
	margin-top: 10px;
}

.programs {
	width: 200px;
}

.jumlah {
	width: 400px;
}

.metode {
	width: 200px;
}

label {
	font-weight: 600;
}

.uang {
	margin-bottom: 40px;
}

.btn-kirim {
	background-color: #E38813;
	width: 130px;
	margin-left: -70px;
	margin-top: 10px;
	color: #fff;

}

.btn-kirim-modal {
	background-color: #E38813;
	width: 130px;
	margin-left: -70px;
	margin-top: 10px;
	color: #fff;

}

.btn-close {
	background-color: rgb(248, 74, 74);
	width: 100px;
	margin-left: -70px;
	margin-top: 10px;
	color: #fff;

}

.btn-close:hover {
	background-color: rgb(185, 51, 51);
	width: 100px;
	margin-left: -70px;
	margin-top: 10px;
	color: #fff;

}

.btn-kirim:hover {
	background-color: rgb(156, 92, 8);

}

.btn-kirim-modal:hover {
	background-color: rgb(156, 92, 8);

}

.img-donation {
	margin-left: 65px;
	width: 600px;
	margin-top: 60px;
}

.atas {
	margin-top: 50px;
}

.custom-select {
	width: 300px;
}

.bentuk select {
	width: 250px;
}


.sandang input {
	width: 350px;
}

.atas select {
	width: 250px;
}

.modal-body h4 {
	font-size: 19px;
	text-align: center;
}

ul li {
	margin-top: 12px;
}

.modal-img {
	width: 300px;
	margin-left: 220px;
	margin-top: 20px;

}

.bc-img {
	width: 120%;
	background-size: cover;
	margin-left: 18px;
}



.bb-img {
	width: 600px;
	z-index: 99;
	margin-top: -550px;
	margin-left: 20px;
}

/* Mobile */
@media (max-width: 576px) {
	.card {
		margin-bottom: 60px;
	}

	.img-donation {
		width: 0px;
	}

	.uang h3 {
		margin-bottom: 40px;
	}

	.uang label {
		margin-top: 10px;
	}

	.form-group {
		margin-left: 20px;
	}

	.jumlah input {
		width: 300px;

	}

	.form-check {
		display: block;

	}

	.btn-kirim {
		margin-left: 20px;
		width: 100%;
	}

	.modal-img {
		margin: auto;
		width: 300px;

		margin-left: 30px;
	}

	.bc-img {
		width: 0px;
	}

	.bb-img {
		width: 0px;
	}

	.atas select {
		width: 300px;
	}

	.bentuk select {
		width: 300px;
	}

	.sandang input {
		width: 300px;
	}

	.btn-kirim {
		margin-left: 20px;
	}

	.btn-kirim-modal {
		margin-right: 60px;
	}




}
